.MyBtn{
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    width: 376px;
    height: 44px;
    padding: 16px;
    border-radius: 8px;
    background: #F6F8FF;
    border: none;
    align-items: center;
    display: flex;
    justify-content: center
};
